name: Deploy Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ steps.generate_token.outputs.token }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Clean submodule artifacts
        run: |
          find docs/external -name "node_modules" -type d -exec rm -rf {} +
          find docs/external -name "site" -type d -exec rm -rf {} +
          find docs/external -name ".venv" -type d -exec rm -rf {} +

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
